<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static '/blog/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional fonts for this theme -->
    <link href="{% static '/blog/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this theme -->
    <link href="{% static '/blog/css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Temporary navbar container fix until Bootstrap 4 is patched -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                   <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'blog:index_page'  %}">主页 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'blog:about_page'  %}">关于</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'blog:message_page'  %}">留言</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{% url 'blog:login_page' %}">New Article</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{% static '/blog/img/contact-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="page-heading">
                        <h1>留言页</h1>
                        <hr class="small">
                        <span class="subheading">Leave a message.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <p class="navbar-toggler">---------------------------留言板-------------------------- </p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="sentMessage"  action="{% url 'blog:message_onshow' %}" >

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="Nickename" id="title" name="name"  data-validation-required-message="Please enter Title.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

{#                    <div class="control-group">#}
{#                        <div class="form-group floating-label-form-group controls">#}
{#                            <label>Category</label>#}
{#                            <input type="text" class="form-control" placeholder="Category" id="category" name="category"  required data-validation-required-message="Please enter category.">#}
{#                            <p class="help-block text-danger"></p>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Content</label>
                            <textarea rows="10"  class="form-control" placeholder="Content" id="content" name="content"  data-validation-required-message="Please edit you article."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">留言</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--
    显示已经存在的评论
    -->
    {% load custom_markdown %}
    {% for message in messages.reverse %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <br>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <p class="navbar-toggler">{{ message.nickname }}--{{ message.date_time }}</p>
                            {{ message.content|custom_markdown }}
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
 {% endfor %}
    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 3.1.1 -->
    <script src="{% static '/blog/lib/jquery/jquery.js' %}"></script>

    <!-- Tether -->
    <script src="{% static '/blog/lib/tether/tether.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/blog/lib/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static '/blog/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static '/blog/js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static '/blog/js/clean-blog.min.js' %}"></script>

</body>

</html>
